<!DOCTYPE html>
<html lang="en"{ 
background: url(../static/images/bg.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}>
html 
<head>
	<meta charset="utf-8">
	<title> FUNCTIONALIZED AZOBENZENE </title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>

<header>

	<div class="navbar-header">
	 
	  <a class="navbar-brand" href="https://sites.google.com/site/jameslewisgroup/home">
	  <image style="max-width:90px; margin-top: -7px;"src="{{ url_for('static',filename='images/lewis_group.png') }}">
	  </a>
	</div>

	<ul class="nav nav-pills" role="tablist">
	<ul class="nav navbar-nav navbar-right">
    	
	 </ul>
</header>



<body>
	<a href="/dashboard/">
		
	
	<script src="//code.jquery.com/jquery-1.11.1.min.js">
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
	</script>
	
</body>




















</html>
